//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';


html {
  @include font;
  background-color: $light-grey-3;
  @include size(100%, 100%);
    overflow-x: hidden;
}

body {
  @include size(100%, 100%);
  padding: 20px;
    overflow-x: hidden;
}

.container{
  overflow-x: hidden;
}

code{
  @include secondary-alt();
  border-radius: 4pc;
  padding: 5px 15px;
  margin-right: 10px;
}
.selected{
  background-color:$background-color-1;
  color:white;
}

.h1{
  margin-bottom: 40px;
}
h1{
  font:$h1;
  font-size: 42px;
  margin-top: 80px;
  margin-bottom: 10px;
  line-height: 1.15;
  color: $font-color-1;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h3{
  font:$h3;
  color: $font-color-2;
  margin-bottom: 18px;
  position: relative;
  font-size: 1em;
  opacity: 0.8;

}

.min-separator{
  width: 40px;
  height: 1px;
  border-bottom: 1px solid $border-color-2;
  margin-bottom: 15px;
}

p{
  font: $p;
  color: $font-color-2;
  text-align: left;
  margin-bottom: 15px;
  font-size: 1.1rem;
}

p a{ @include link;}


h2{font:$h2; margin-bottom:15px;
font-size: 1.5em;
}


h4{
  font:$h3-alt;
  line-height: 9pt;
  display: block;
  height: 10px;
  font-weight: 500;
  code{
    font-weight: 400;
    color:$font-color-3;
    padding-left: 10px;
    kbd{
      margin: 0 7px;
    }
  }
}

span{
  line-height: 10px;
  height: 10px;
  display: block;
}



.card{
  @include size(auto, 100%);
  border-radius: 10px;
  @include shadow();
  background-color: white;
  padding: 50px 30px;
  margin-bottom: 20px;
}

.dark{
  color:white;
  margin-top: 80px;
  > * { color:white}
  background: url('../img/framer.png');
  background-size: cover;
}
.logo{
}

.primary{
  @include primary;
}

.secondary{
  @include secondary;
}
