html {
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  background-color: #F2F4F6;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
}

code {
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  margin: 0;
  outline: none;
  transition: box-shadow 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  border: none;
  border-radius: 4pc;
  padding: 5px 15px;
  margin-right: 10px;
}

code:hover {
  color: #22A5F7;
  cursor: pointer;
}

code:active {
  color: #91d2fb;
}

code span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

code:hover {
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
}

code span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.selected {
  background-color: #22272E;
  color: white;
}

.h1 {
  margin-bottom: 40px;
}

h1 {
  font: 200 29px/20px "nutanix_soft", san-serif;
  font-size: 42px;
  margin-top: 80px;
  margin-bottom: 10px;
  line-height: 1.15;
  color: #22272E;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

h3 {
  font: 500 14px/10px "nutanix_soft", san-serif;
  color: #627386;
  margin-bottom: 18px;
  position: relative;
  font-size: 1em;
  opacity: 0.8;
}

.min-separator {
  width: 40px;
  height: 1px;
  border-bottom: 1px solid #D5DAE0;
  margin-bottom: 15px;
}

p {
  font: 400 14px/22px "nutanix_soft", san-serif;
  color: #627386;
  text-align: left;
  margin-bottom: 15px;
  font-size: 1.1rem;
}

p a {
  color: #22A5F7;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
}

p a:hover {
  cursor: pointer;
  text-decoration: underline;
}

h2 {
  font: 400 18px/12px "nutanix_soft", san-serif;
  margin-bottom: 15px;
  font-size: 1.5em;
}

h4 {
  font: 400 14px/10px "nutanix_soft", san-serif;
  line-height: 9pt;
  display: block;
  height: 10px;
  font-weight: 500;
}

h4 code {
  font-weight: 400;
  color: #7C8D9F;
  padding-left: 10px;
}

h4 code kbd {
  margin: 0 7px;
}

span {
  line-height: 10px;
  height: 10px;
  display: block;
}

.card {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 9px 9px 0 rgba(0, 0, 0, 0.02), 0 3px 3px 0 rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.02);
  background-color: white;
  padding: 50px 30px;
  margin-bottom: 20px;
}

.dark {
  color: white;
  margin-top: 80px;
  background: url("../img/framer.png");
  background-size: cover;
}

.dark > * {
  color: white;
}

.primary {
  margin: 0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #FFFFFF;
  font: 400 14px/10px "nutanix_soft", san-serif;
  font-weight: 500;
  border: none;
  text-decoration: none;
  background-color: #22A5F7;
  outline: none;
}

.primary:hover {
  color: #FFFFFF;
  cursor: pointer;
  background-color: #1f88de;
}

.primary:active {
  color: #FFFFFF;
  background-color: #1b6dc6;
}

.primary span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}

.secondary {
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  padding: 11px 15px;
  color: #22272E;
  font: 400 14px/10px "nutanix_soft", san-serif;
  text-decoration: none;
  background-color: #FFFFFF;
  margin: 0;
  outline: none;
}

.secondary:hover {
  color: #22A5F7;
  cursor: pointer;
}

.secondary:active {
  color: #91d2fb;
}

.secondary span {
  height: 10px;
  display: block;
  font-weight: 500;
  line-height: 9pt;
}
