//Comment for compiler
@import '../../_ntnx/variables';
@import '../../_ntnx/mixins';


html {
  @include font;
  background-color: $light-grey-3;
  overflow-x: hidden;
  @include size(100%, 100%);
  box-sizing: content-box;
}

body {
  @include size(100%, 100%);
  overflow: hidden;
  box-sizing: content-box;
}


h1{
  font:$h1;
  font-size: 42px;
  margin-bottom: 20px;
  color: $font-color-3;
}

h3{
  font:$h3;
  color: $font-color-2;
  margin-bottom: 18px;
  position: relative;

}

.min-separator{
  width: 40px;
  height: 1px;
  border-bottom: 1px solid $border-color-2;
  margin-bottom: 15px;
}

p{
  font: $p;
  color: $font-color-2;
  text-align: center;
  margin-bottom: 15px;
}

p a{ @include link;}



h4{
  font:$h3-alt;
  line-height: 9pt;
  display: block;
  height: 10px;
  font-weight: 500;
  code{
    font-weight: 400;
    color:$font-color-3;
    padding-left: 10px;
    kbd{
      margin: 0 7px;
    }
  }
}

span{
  line-height: 10px;
  height: 10px;
  display: block;
}

header {
  @include size(60px, 100%);
  @include padding();
  @include flex(center, space-between, '');
  background-color: $background-color-1;
  color: transparent;
}


.logo{
  position: absolute;
  bottom: 100px;
}

.primary{
  @include primary;
}


//container
.container {
  @include size(calc(100% - 60px), calc(400px - 40px));
  @include flex(center, center, column);
  max-width: 1280px;
  margin: 50px auto;
  overflow-x: hidden;
    box-sizing: content-box;
}

//actions
.actions {
  @include flex(center, flex-start, row);
  @include size(auto, 100%);

  .primary {
    @include primary;
    margin-right: 10px;
  }

  .secondary {
    @include secondary-alt;
    margin-bottom: 0;
  }
}



.link{
  @include link;
  text-decoration-color: $dark-blue-1;
}
